.contact-map{
  max-width: 1920px;
  height: 500px;
  background-color: $black3;
  margin-bottom: 55px;
}
.contact {
    margin-bottom: 100px;
    //.content__wrapper
    &__content__wrapper{

    }
    // .contact__content
    &__content {
        padding-left: 275px;
    }
    // .contact__title
    &__title {
        font-size: 36px;
        line-height: 167%;
        font-weight: 700;
        color: $black2;
        max-width: 820px;
        padding-bottom: 40px;
        margin-bottom: 80px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 2px;
            background-color: $gray5;
            border: 1px solid #6D7278;
        }
    }
    // .contact__social-list
    &__social-list {
        margin-bottom: 20px;
    }
    // .contact__info
    &__info {
        font-size: 16px;
        line-height: 175%;
        color: $gray3;
        margin-bottom: 30px;
    }
    // .contact__details
    &__details {
        margin-bottom: 15px;
    }
    // .contact__email
    &__email {
        margin-bottom: 25px;
        cursor: pointer;
    }
    // .contact__email-icon
    &__email-icon {
        width: 16px;
        height: 16px;
        fill: currentColor;
        margin-right: 15px;
    }
    // .contact__email-link
    &__email-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 200%;
        font-weight: 600;
        color: $black2;
        transition: all 0.3s ease 0s;
        @media (min-width: $md2+px){
            &:hover {
                color: $crimson;
            }
        }
    }
    // .contact__form
    &__form {
    }
}
.list-social {
    display: flex;
    align-items: center;
    // .list-social__item
    &__item {
        &:not(:last-child){
            margin-right: 40px;
        }
    }
    // .ilist-social__icon
    &__icon {
        cursor: pointer;
        height: 18px;
        width: 18px;
        fill: $gray2;
        transition: all 0.3s ease 0s;
        @media (min-width: $md2+px){
            &:hover {
                fill: $crimson;
            }
        }
    }
}
.details-contact {
    font-size: 16px;
    line-height: 169%;
    color: $black3;
    // .details-contact__phone
    &__phone {
        color: $black3;
        cursor: pointer;
        @media (min-width: $md2+px){
            &:hover {
                color: $crimson;
            }
        }
    }
    // .details-contact__address
    &__address {
    }
}

.contact {

}
.form-contact {
    display: flex;
    flex-wrap: wrap;
    // .form-contact__input
    &__input {
        flex: 1 1 calc(50% - 5px);
        &:first-child{
            margin-right: 10px;
        }
        &--textarea{
            flex: 1 1 100%;
            margin-bottom: 20px;
        }
    }
    // .form-contact__btn
    &__btn {
        background-color: $black2;
        border: 1px solid transparent;
        color: $white2;
        border-radius: 20px;
        font-weight: 600;
        padding: 6px 12px;
        min-width: 160px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        @media (min-width: $md2+px){
            &:hover {
                background-color: transparent;
                border: 1px dashed $crimson;
                color: $black3;
            }
        }
    }
}
.contact-input{
    border: 1px solid $gray7;
    border-radius: 20px;
    padding: 6px 10px 6px 18px;
    background-color: transparent;
    height: 41px;
    width: 100%;
    transition: all 0.3s ease 0s;
    &:focus{
        border: 1px solid $crimson;
    }
    &::placeholder{
        //опционально
        color: $gray3;
    }
}
.contact-textarea{
    border: 1px solid $gray7;
    border-radius: 20px;
    padding: 6px 10px 6px 18px;
    background-color: transparent;
    height: 125px;
    width: 100%;
    margin-top: 15px;
    transition: all 0.3s ease 0s;
    &::placeholder{
        //опционально
        color: $gray3;
    }
    &:focus{
        border: 1px solid $crimson;
    }
}





