footer {
}
//====================================================================================================
.footer {
    background-color: $gray;
    // .footer__content
    &__content {
        padding: 70px 15px 70px 15px;
    }
    // .footer__body
    &__body {
        display: flex;
        justify-content: space-between;
    }
    // .footer__column
    &__column {
        display: flex;
        &:first-child{
            flex: 0 1 549px;
        }
        &:not(:first-child){
            flex: 0 0 125px;
        }
        &:last-child{
            padding-right: 60px;
        }
        //justify-content: space-between;
    }
    // .footer__contact
    &__contact {
        flex: 1 1 100%;

    }
    // .footer__social
    &__social {
        flex: 0 1 25%;
    }
    // .footer__info
    &__info {
        flex: 0 1 25%;
    }
    // .footer__bottom
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $black2;
        height: 110px;
    }
    // .footer__copyright
    &__copyright {
        padding: 0 15px; // вернуться сюда, пересмотреть при адаптиве, возможно стоит обернуть в какой-то контейнер а возможно и нет
        line-height: 28px;
        color: $gray3;
        text-align: center;
    }
}

.contact-footer {
    // .contact-footer__title
    &__title {
        font-weight: 700;
        font-family: $montserrat;
        line-height: 23px;
        margin-bottom: 15px;
    }
    // .contact-footer__info
    &__info {
        line-height: 23px;
        margin-bottom: 15px;
        //display: flex;
        max-width: 475px;
    }
    // .contact-footer__email
    &__email {
        font-weight: 600;
        line-height: 28px;
        color: $black2;
        margin-bottom: 30px;
        display: inline-block;
        border-bottom: 1px dashed transparent;
        transition: border 0.5s ease 0s;
        @media (min-width: $md2+px){
            &:hover {
                border-bottom: 1px dashed $crimson;
            }
        }
    }
    // .contact-footer__email-link
    &__email-link{
        display: inline-flex;
        align-items: center;
        transition: all 0.3s ease 0s;
        &:hover {
            color: $crimson;
        }
    }
    // .contact-footer__email-icon
    &__email-icon {
        width: 16px;
        height: 16px;
        margin-right: 15px;
        fill: currentColor;
    }
    // .contact-footer__subscribe-form
    &__subscribe-form {
        display: flex;
        flex: 1 1 100%;

    }
    // .contact-footer__input
    &__input{
        margin-right: 10px;
        flex: 1 1 100%;
        input{
            padding: 6px 10px 6px 18px;
            border-radius: 20px;
            background-color: transparent;
            border: 1px solid $black2opacity07;
            height: 41px;
            &:focus{
                border: 1px solid $crimson;
            }
            &::placeholder{
                //опционально
                color: $black3;
            }
        }
    }
    // .contact-footer__subscribe-btn
    &__subscribe-btn{
        background-color: $black2;
        border: none;
        color: $white2;
        border-radius: 20px;
        padding: 6px 12px;
        min-width: 160px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        @media (min-width: $md2+px){
            &:hover {
                background-color: transparent;
                border: 1px dashed $crimson;
                color: $black3;
            }
        }

    }

}
.input {
}
.form {
    // .form__btn
    &__btn {
    }
}
.btn {
}
.socail-footer {
    // .socail-footer__list
    &__list {
    }
    // .socail-footer__item
    &__item {
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }

    // .socail-footer__link
    &__link {
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        color: $gray2;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        @media (min-width: $md2+px){
            &:hover {
                color: $crimson;
            }
        }
        svg{
            height: 18px;
            width: 16px;
            margin-right: 10px;
            fill: currentColor;
            //stroke: currentColor;
        }

    }

    // .social-footer__icon // хз почему я не могу обратиться таким образом
    /* &__icon{
        width: 1.60px;
        height: 1.60px;
    }
    */

}

.info-footer {
    // .info-footer__list
    &__list {
    }
    // .info-footer__item
    &__item {

        &:not(:last-child){
            margin-bottom: 15px;
        }
        &:last-child{
            white-space: nowrap;
        }

    }
    // .info-footer__link
    &__link {
        font-size: 14px;
        line-height: 28px;
        font-weight: 600;
        color: $gray2;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        @media (min-width: $md2+px){
            &:hover {
                color: $crimson;
            }
        }
    }
}

//====================================================================================================
