//====================================================================================================
//
.header {
    // .header__content
    &__content {
        display: flex;
        align-items: center;
        height: 120px;
    }
    // .header__column
    &__column {
        flex: 0 1 calc(50% - 50px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // .header__column--logo
        &--logo {
            flex: 0 0 97px;
            text-align: center;
        }
        &--with-btn{
            justify-content: flex-end;
            //margin-left: 45px;
        }
    }
    // .header__logo
    &__logo {
        position: relative;
        z-index: 5;
        display: inline-block;
    }
    // .header__btn
    &__btn {
        border: none;
        padding: 0;
        background-color: transparent;
        //↑↑↑ три свойства для обнуления кнопки по дефолту ↑↑↑
        cursor: pointer;
        margin-left: 60px;
        position: relative;
        width: 37px;
        height: 30px;
        display: none; // не забыть включить потом
        &:hover {
            .header__line{
                background-color: $crimson;
            }
        }
        /* &:hover {
            .header__btn-icon{
                fill: $crimson;
            }
        } */
        &._active{
            .header__line{
                background-color: $crimson;
                &:first-child{
                    opacity: 0;
                    transform: scale(0);
                }
                &:nth-child(2){
                    transform: rotate(45deg);
                    top: 14px;

                }
                &:nth-child(3){
                    opacity: 0;
                    transform: scale(0);
                }
                &:last-child{
                    transform: rotate(-45deg);
                    top: 14px;
                }
            }
        }
    }
    // .header__line
    &__line{
        transition: all $t ease 0s;
        left: 0;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $black;
        //это конечно рофлан, но я не смог скруглить углы
        &:first-child{
            top: 0;
            width: 24px;
            margin-left: auto;
            right: 0;
            opacity: 1;
        }
        &:nth-child(2){
            top: 9px;
        }
        &:nth-child(3){
            top: 18px;
            width: 24px;
            margin-left: auto;
            right: 0;
            opacity: 1;
        }
        &:last-child{
            bottom: 0;
            margin-left: auto;
        }

    }
}
.menu {
    // .menu__body
    &__body {
    }
    // .menu__list
    &__list {
        display: flex;
    }
    // .menu__list-item
    &__list-item {
        &:not(:last-child){
            margin-right: 80px;
        }
        @media (min-width: $md2+px){
            &:hover {
                .menu__list-link{
                    color: $crimson;
                }
            }
        }
    }
    // .menu__list-link
    &__list-link {
        line-height: 22px;
        font-weight: 700;
        color: $black2opacity09;
        font-family: $montserrat;
        transition: all $t ease 0s;
    }
}

//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
