//====================================================================================================
.main-slider {
    position: relative;
    background: url('../img/bg-slider.jpg') no-repeat center right;
    margin-bottom: 85px;
    padding-bottom: 30px;
    // .main-slider__body
    &__body {


        //position: relative;
    }
    .swiper-pagination-bullets{
        display: flex;
        position: absolute;
        bottom: -20px;
        right: 47%;
    }
    .swiper-pagination-bullet{
        cursor: pointer;
        display: flex;
        flex: 0 0 8px;
        height: 8px;
        border-radius: 50%;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 2px 0;
        background: $black2;
        &:not(:last-child){
            margin-right: 30px;
        }
        &-active{
            background: $yellow;
        }
    }
}
.body-slider {
    // .body-slider__slide
    &__slide {
        display: flex;
        align-items: center;
        //padding: 0 15px;
        @media (max-width: $md4+px){
            flex-direction: column;
        }
    }
    // .body-slider__image-wrapper
    &__image-wrapper {
        padding-left: 10%;
        padding-top: 6%;
        margin-right: 20px;
        max-width: 880px;
        @media (max-width: $md3+px){
            padding-left: 7%;
        }
        @media (max-width: $md4+px){
            margin-bottom: 15px;
        }
    }
    // .body-slider__image
    &__image {
        width: 100%; //чтобы не растягивалась на весь блок-обертку, а только на 100% своей ширины
    }
    // .body-slider__content
    &__content {
        padding-right: 30px;
        @media (max-width: $md3+px){
            padding-right: 15px;
        }
        @media (max-width: $md4+px){
            margin-bottom: 30px;
            padding: 0 15px;

        }
    }
    // .body-slider__title
    &__title {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 110px;
        line-height: 134px;
        color: #363838;
        padding-bottom: 25px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background: $black3;
            height: 1px;
            width: 190px;
            bottom: 0;
            left: 0;
        }
        @media (max-width: $md_mainSlider+px){
            font-size: 90px;
            line-height: 100px;
            //font-size: calc(40px + 70 * ((100vw - 320px)/ 790));
            //line-height: calc(25px + 109 * ((100vw - 320px)/ 790));
        }
        @media (max-width: $md2+px){
            font-size: 70px;
            line-height: 80px;
        }
        @media (max-width: $md3+px){
            font-size: 50px;
            line-height: 60px;
            padding-bottom: 15px;
        }
    }
    // .body-slider__subtitle
    &__subtitle {
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #5a5a5a;
        @media (max-width: $md3+px){
            line-height: 1.15;
            margin-top: 15px;
        }
    }
    // .body-slider__pagination
    &__pagination{

    }
}

//====================================================================================================
.title-section{
    font-family: $montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 142%;
    text-align: center;
    color: $black2;
}



//==================================================================================================================================================================================
.furniture-collection {
    margin-bottom: 105px;
    // .furniture-collection__title
    &__title {
        position: relative;
        padding-bottom: 25px;
        margin-bottom: 25px;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $gray4;
            width: 250px;
            height: 1px;
        }
    }
    // .furniture-collection__subtitle
    &__subtitle {
        text-align: center;
        margin: 0 auto 60px;
        max-width: 730px;
        color: $black3;
    }
    // .furniture-collection__row
    &__row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 0 auto;
        padding: 0 25px;
        justify-items: center;
        gap: 0 30px;
    }
    // .furniture-collection__item
    &__item {
        position: relative;
        &:hover {
            .furniture-collection__item-info{
                opacity: 1;
            }
        }
    }
    // .furniture-collection__image
    &__image {
        max-height: 350px;
        max-width: 100%;
        object-fit: cover;


    }
    // .furniture-collection__item-info
    &__item-info {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255,255,255,.6);
        transition: all 0.5s ease 0s;
        //либо прописать flex-direction: column, либо создать доп. обертку что мы и сделали

    }
    // .furniture-collection__item-info-wrapper
    &__item-info-wrapper{
        text-align: center;
    }
    // .furniture-collection__item-info-title
    &__item-info-title {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        color: $black2;
        font-family: $montserrat;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $gray4;
            width: 80%; //на случай адаптива картинок //а так ваще 200px
            height: 1px;
        }
    }
    // .furniture-collection__item-info-subtitle
    &__item-info-subtitle {
        color: $gray2;
        font-size: 14px;
        line-height: 120%;
        font-weight: 600;
    }
}

.aesthetic {
    background: url('../img/bg-aesthetic.jpg') 0 0/cover no-repeat;
    margin-bottom: 80px;
    // .aesthetic__content
    &__content {
        padding: 170px 0 155px;
    }
    // .aesthetic__title
    &__title {
        position: relative;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        max-width: 500px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        color: $black2;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $gray5;
            width: 200px;
            height: 1px;
        }
    }
    // .aesthetic__text
    &__text {
        font-size: 16px;
        line-height: 175%;
        color: $black3;
        max-width: 500px;
    }
}

.work {
    margin-bottom: 110px;
    // .work__title
    &__title {
        font-size: 36px;
        line-height: 142%;
        font-weight: 700;
        font-family: $montserrat;
        text-align: center;
        color: $black2;
        margin-bottom: 40px;
    }
    // .work__content
    &__content {
    }
    // .work__row
    &__row {
        display: flex;
        &:last-child{
            margin-top: 35px;
        }
    }
    // .work__item
    &__item {


    }
    // .work__line
    &__line {
        margin: 10px 0;
        width: 100%;
        background-color: $black2opacity07;
        height: 2px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 10px;
            height: 10px;
            background: $black2;
            border-radius: 50%;
        }
    }
}
.item-work {
    max-width: 25%;
    &--1{
        margin-right: 25%;
    }
    &--2{
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            height: 20px;
            width: 2px;
            background: $black2;
        }

    }
    &--3{
        position: relative;
        margin-left: 25%;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: -35px;
            height: 20px;
            width: 2px;
            background: $black2;
        }
    }
    &--4{
        position: relative;
        margin-left: 25%;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: -35px;
            height: 20px;
            width: 2px;
            background: $black2;
        }
    }
    // .item-work__title-block
    &__title-block {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    // .item-work__icon
    &__icon {
        fill: $black;
        margin-right: 10px;
        width: 41px;
        height: 42px;
        //задавать pixel-perfect размеры иконкам здесь не имеет смысла, иначе не будет симметричности
        /* &--1{
            width: 41px;
            height: 42px;
        }
        &--2{
            width: 38px;
            height: 34px;
        }
        &--3{
            width: 38px;
            height: 26px;
        } */
    }
    // .item-work__title
    &__title {
        font-size: 16px;
        line-height: 144%;
        font-family: $montserrat;
        font-weight: 700;
        color: $black2;

    }
    // .item-work__text
    &__text {
        font-size: 16px;
        line-height: 169%;
        color: $black3;
    }
}
.gallery-by-category {
    &--gallery-page{
        margin-top: 80px;
    }
    margin-bottom: 90px;
    // .gallery-by-category__content
    &__content {
    }
    // .gallery-by-category__nav
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        margin-bottom: 50px;
    }
    // .gallery-by-category__nav-item
    &__nav-item {
        display: flex;
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 600;
        line-height: 200%;
        border: 1px solid rgba(69,70,71,.5);
        border-radius: 20px;
        background-color: transparent;
        color: $gray6;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &:not(:last-child){
            margin-right: 25px;
        }
        &._active{
            background-color: $yellow;
            color: $black2;
            border: 1px solid $crimson;
        }
    }
    // .gallery-by-category__tabs-wrap
    &__tabs-wrap {
    }
    // .gallery-by-category__tabs-item
    &__tabs-item {
    }
    // .gallery-by-category__item-body
    &__item-body {
        max-width: 1900px;
        margin: 0 auto;
        padding: 0 15px;
        /////////
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 25px;
    }
    // .gallery-by-category__item
    &__item {
        img{
            @media (min-width: 820+px){
                width: 100%;
                height: 100%;
                max-height: 559px;
                object-fit: cover;
            }
        }
        &--expand{
            @media (min-width: 820+px){
                grid-row: span 2;
                grid-column: span 2;
            }
            img{
                @media (min-width: 820+px){
                    max-height: 1150px;
                }

            }
        }
    }
}

.inspiration {
    margin-bottom: 100px;
    // .inspiration__title
    &__title {
        font-family: $montserrat;
        font-size: 36px;
        line-height: 142%;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        color: $black2;
        max-width: 430px;
        margin-bottom: 30px;

    }
    // .inspiration__content
    &__content {
    }
    // .inspiration__row
    &__row {
        display: flex;
        margin: 0 -15px;
    }
    // .inspiration__item
    &__item {
        padding: 0 15px;
        flex: 0 1 50%;
    }
}
.item-inspiration {
    // .item-inspiration__image-wrap
    &__image-wrap {
        margin-bottom: 20px;
    }
    // .item-inspiration__image
    &__image {
    }
    // .item-inspiration__data
    &__data {
        margin-bottom: 20px;
    }
    // .item-inspiration__title
    &__title {
        font-size: 24px;
        line-height: 158%;
        font-family: $montserrat;
        font-weight: 700;
        color: $black2;
    }
}
.data-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 200%;
    color: $gray2;
    // .data-item__date
    &__date {
    }
    // .data-item__author
    &__author {
    }
    // .data-item__category
    &__category {
    }
}
