@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext ------вот эта строчка для встраивания шрифтов из гугла вручную, прописываем сами в конце если нам нужна кириллица, т.к. расширение вс код не умеет так
// здесь выше импортируем внешние шрифты, допустим из Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import "fonts"; //для шрифтов скачанных локально
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto", sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920; //для полотна макета, полотно ≠ ограничивающий контейнер, пишем без px
$maxWidthContainer: 1140; //ограничивающий контейнер
$md1: $maxWidthContainer + 12; // +12 это типа зазор, чтобы чуть раньше сработал брейкпоинт
$md2: 991.98;
$md3: 767.98;
$md4: 567.98;
$md5: 479.98;
$t: 0.3s;
$mainColor: #000;



$white: #fff;
$font-family: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$crimson: #dc143c;
$black: #000;
$black2: #363838;
$black3: #383836;
$black2opacity09: rgba(54, 56, 56, 0.9033);
$black2opacity07: rgba(56, 56, 54, 0.7);
$black3: #5a5a5a;
$gray: #dfdfdf;
$gray2: #707070;
$gray3: #A1A1A1;
$white2: #fffff0;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	background-color: #333;
	color: #fff;
	line-height: 150%;
	&._lock { //класс для блокировки скролла
		overflow: hidden;
	}
}

// ниже из старой сборки чисто мое, по идее этот мусор ниже надо раскидать по частям куда надо
html{
    font-size: 62.5%;
}

body{
    background-color: $white;
    font-size: 1.6rem;
    color: $black3;
    font-family: $font-family;
    //overflow-x: hidden; //по идее это есть и так
    line-height: 1.15; //это из нормалайза
}

a{
    color: $black;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper { //для прибития футера к низу страницы, для main c классом page написать flex: 1 1 auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container { //технический класс для построения сетки, для отзывчивой вёрстки вроде как надо нахер удалить медиа внизу
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	//все ниже по идее нахер удаляем
	/* @media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	} */
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//сначала встраиваем всякую лабудень состоящую из элементов-компонентов
@import "datepicker";
@import "lightgallery";
@import "tippy";
//@import "pagging";
//дальше уже страницы и части
@import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home"; //хоум это типа домашняя/главная страница сайта, может и по другому называться
//ниже встраиваем стили для остальных страниц если у нас многостраничник @import "about"; @import "contacts"; @import "delivery"; @import "reviews"; и т.д.
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

.tabs-block {
	margin-bottom: 30px;
	// .tabs-block__nav
	&__nav {
		display: flex;
		margin: -0px 2px;
	}
	// .tabs-block__item
	&__item {
		padding: 0 2px;
		flex: 0 1 33.333%;
		background-color: green;
		border: 1px solid gray;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&._active {
			background-color: #a3df;
			color: aqua;
		}
	}
	// .tabs-block__body
	&__body {
		padding-top: 20px;
	}
	// .tabs-block__block
	&__block {
	}
}
//==================================================================================================================================================================================
.spollers-block {
	margin-bottom: 50px;
	// .spollers-block__item
	&__item {
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}
	// .spollers-block__title
	&__title {
		background-color: brown;
		cursor: pointer;
		padding: 20px;
		position: relative;
		padding: 20px 50px 20px 0px; //чтобы текст не наезжал на галочку
		&::before {
			content: "";
			width: 20px;
			background-color: #fff;
			height: 2px;
			transform: translate(0, -50%) rotate(-45deg);
			transition: all 0.3s ease 0s;
			position: absolute;
			right: 15px;
			top: 50%;
		}
		&::after {
			content: "";
			width: 20px;
			background-color: #fff;
			height: 2px;
			transform: translate(0, -50%) rotate(45deg);
			transition: all 0.3s ease 0s;
			position: absolute;
			right: 29px;
			top: 50%;
		}
		&._active{
			&::before {
				transform: translate(0, -50%) rotate(45deg);
			}
			&::after {
				transform: translate(0, -50%) rotate(-45deg);
			}

		}
	}
	// .spollers-block__body
	&__body {
		display: none;
		padding-top: 20px;
	}
}

.form{
	margin-bottom: 50px;
	&__line{
		margin-bottom: 20px;
	}
	&__label{
		display: inline-block;
		margin-bottom: 15px;
		font-size: 20px;
	}
	.input{
		margin-bottom: 20px;
	}
	.btn{
		margin-bottom: 20px;
	}
}

.slider {
	&__wrapper{
		margin-bottom: 50px;
	}
	// .slider__title
	&__title {
		font-size: 30px;
		margin-bottom: 20px;
		text-align: center;
	}
	// .slider__slide
	&__slide {
		padding: 0 20px;
	}
}
.text{
	margin-bottom: 50px;
	font-size: 20px;
	transition: all 0.7s ease 0s;
	a{
		color: darkmagenta;
	}
	&._active{
		color: darkseagreen;
	}
}
.popup__text{
	color: #000;
}
.quantity__wrapper{
	margin-bottom: 50px;
}


.price {
	// .price__range
	&__range {
	}
	// .price__inputs
	&__inputs {
		display: flex;
		input{
			margin-right: 10px;
		}
	}
}


.gallery-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -10px;
	// .gallery-block__item
	&__item {
		flex: 0 1 33.333%;
		margin: 0px 0px 20px 0px;
		padding: 0px 10px;
		img{
			max-width: 100%;
		}
	}
}


//</ОСНОВНОЙ БЛОК>====================================================================================================
