@use "sass:math"; //вот эта шняга нужна чтобы работали математические функции в новом синтаксисе Dart Sass
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext ------вот эта строчка для встраивания шрифтов из гугла вручную, прописываем сами в конце если нам нужна кириллица, т.к. расширение вс код не умеет так
// здесь выше импортируем внешние шрифты, допустим из Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import "fonts"; //для шрифтов скачанных локально, там сборочка галпа всё решает и прописывает автоинклюд
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto", sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
@import "vars";

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	background-color: #333;
	color: #fff;
	line-height: 150%;
	&._lock { //класс для блокировки скролла
		overflow: hidden;
	}
}

// ниже из старой сборки чисто мое, по идее этот мусор ниже надо раскидать по частям куда надо
html{
    font-size: $fontSize;
}

body{
    background-color: $white;
    color: $black3;
    font-family: $font-family;
    //overflow-x: hidden; //по идее это есть и так
    line-height: 1.15; //это из нормалайза
}

a{
    color: $black;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper { //для прибития футера к низу страницы, для main c классом page написать flex: 1 1 auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container { //технический класс для построения сетки, для отзывчивой вёрстки вроде как надо нахер удалить медиа внизу
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
    padding: 0 15px;
	//все ниже по идее нахер удаляем
	/* @media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	} */
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//сначала встраиваем всякую лабудень состоящую из элементов-компонентов
@import "datepicker";
@import "lightgallery";
@import "tippy";
//@import "pagging";
//дальше уже страницы и части
@import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home"; //хоум это типа домашняя/главная страница сайта, может и по другому называться
//ниже встраиваем стили для остальных страниц если у нас многостраничник @import "about"; @import "contacts"; @import "delivery"; @import "reviews"; и т.д.
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================


//</ОСНОВНОЙ БЛОК>====================================================================================================
