$minWidth: 320px;
$maxWidth: 1920; //для полотна макета, полотно ≠ ограничивающий контейнер, пишем без px
$maxWidthContainer: 1140; //ограничивающий контейнер
$md1: $maxWidthContainer + 12; // +12 это типа зазор, чтобы чуть раньше сработал брейкпоинт
$md2: 991.98;
$md3: 767.98;
$md4: 567.98;
$md5: 479.98;
$md_mainSlider: 1110;
$t: 0.3s;
$mainColor: #000;

$white: #fff;
$font-family: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$crimson: #dc143c;
$black: #000;
$black2: #363838;
$black3: #383836;
$black2opacity09: rgba(54, 56, 56, 0.9033);
$black2opacity07: rgba(56, 56, 54, 0.7);
$black3: #5a5a5a;
$gray: #dfdfdf;
$gray2: #707070;
$gray3: #A1A1A1;
$white2: #fffff0;
$yellow: #ffef35;
$gray4: #6D7278;
$gray5: #979797;
$gray6: #8f8d8d;
$violet: #8000ff;
